#topbar {
  padding: 1rem;
  position: absolute;
  width: 100vw;
  top: 0;
  background-color: white;
  color: #000000;
}
.features {
  color: #000;
  width: 80vw;
  height: max-content;
  border: 1px black solid;
  border-radius: 5rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  margin-bottom: 5rem;
}
.fcard {
  height: max-content;
  display: block;
  text-align: center;
}
.ftxt {
  width: 50%;
  margin: 0 auto;
}
.material-symbols-outlined {
  display: none;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
.card-content1 {
  display: none;
}
nav {
  display: flex;
  justify-content: space-between;
}

#left-menu {
  display: flex;
  align-items: center;
}

#mid-menu {
  display: flex;
  align-items: center;
}

#right-menu {
  display: flex;
  align-items: center;
}

#logo {
  margin: 0;
  width: 120px;
  left: 1rem;
  position: absolute;
}

.menu-item {
  margin: 0;
  margin-right: 44px;
  font-weight: 540;
  cursor: pointer;
  font-size: 18px;
}
.mycard {
  height: 100%;
  width: 100%;
  max-width: 24rem;
}
.cardtitle {
  font-weight: bold;
  --tw-text-opacity: 1;
  color: rgba(31, 41, 55, var(--tw-text-opacity));
  text-align: center;
}
.cardimg {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.75rem;
  margin-bottom: 2.75rem;
  max-height: 6rem;
  border-radius: 9999px;
}
.carddescription {
  --tw-text-opacity: 1;
  color: rgba(107, 114, 128, var(--tw-text-opacity));
  text-align: center;
}

body {
  margin: 0;
  color: #fff;
  align-items: center;
  min-height: 100vh;
  font-family: "Inka B";
}
.bg img {
  width: 90vw;
  margin: auto 5vw;
  z-index: -100;
  position: absolute;
  top: 6rem;
  border-radius: 5rem;
  height: 60vh;
}
.hone {
  margin-top: 8rem;
  text-align: center;
  font-size: 1.3rem;
  color: white;
}
.slidcont {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 80vw;
  margin: auto 10vw;
  border: 1px solid black;
  border-radius: 5rem;
}
.cont {
  color: #000;
}
.card-content {
  padding: 2rem;
  text-align: center;
  width: 40vw;
}
.card-content h1 {
  font-size: 3rem;
}
.disc {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
}
.card-content button {
  font-family: "Inka B";
  color: white;
  background: black;
  border-radius: 2rem;
  width: 100%;
  font-size: 1.2rem;
}
.slider {
  width: 60%;

  min-height: 385px;
}
.slider input {
  display: none;
}
.testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 375px;
  perspective: 500px;
  margin-top: 5rem;
  overflow: hidden;
}
.testimonials .item {
  max-width: 20rem;
  border-radius: 1.5rem;
  border-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgba(30, 58, 138, var(--tw-border-opacity));
  top: 0;
  position: absolute;
  box-sizing: border-box;
  background-color: #fff;
  width: max-content;
  text-align: center;
  transition: transform 0.4s;
  -webkit-transform-style: preserve-3d;
  user-select: none;
  cursor: pointer;
}
.testimonials .item img {
  width: 200px;
  border: 1px black solid;
  padding: 0.2rem;
  border-radius: 0.2rem;
}
.testimonials .item p {
  color: #ddd;
}
.testimonials .item h2 {
  font-size: 14px;
}
.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 3rem;
}
.dots label {
  display: block;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #000000;
  margin: 7px;
  transition: transform 0.2s, color 0.2s;
}

/* First */
#t-1:checked ~ .dots label[for="t-1"] {
  transform: scale(2);
  background-color: #000;
  width: 1rem;
  height: 0.15rem;
  border-radius: 2rem;
}
#t-1:checked ~ .dots label[for="t-2"] {
  transform: scale(1.5);
}
#t-1:checked ~ .testimonials label[for="t-1"] {
  z-index: 4;
}
#t-1:checked ~ .testimonials label[for="t-2"] {
  transform: translateX(90px) translateZ(-90px) translateY(-15px);

  z-index: 3;
}
#t-1:checked ~ .testimonials label[for="t-3"] {
  transform: translateX(180px) translateZ(-180px) translateY(-30px);
  z-index: 2;
}

/* Second */
#t-2:checked ~ .dots label[for="t-1"] {
  transform: scale(1.5);
}
#t-2:checked ~ .dots label[for="t-2"] {
  transform: scale(2);
  background-color: #000;
  width: 1rem;
  height: 0.15rem;
  border-radius: 2rem;
}
#t-2:checked ~ .dots label[for="t-3"] {
  transform: scale(1.5);
}
#t-2:checked ~ .testimonials label[for="t-1"] {
  transform: translateX(-90px) translateZ(-90px) translateY(-15px);
}
#t-2:checked ~ .testimonials label[for="t-2"] {
  z-index: 3;
}
#t-2:checked ~ .testimonials label[for="t-3"] {
  transform: translateX(90px) translateZ(-90px) translateY(-15px);
  z-index: 2;
}

/* Third */
#t-3:checked ~ .dots label[for="t-2"] {
  transform: scale(1.5);
}
#t-3:checked ~ .dots label[for="t-3"] {
  transform: scale(2);
  background-color: #000;
  width: 1rem;
  height: 0.15rem;
  border-radius: 2rem;
}
#t-3:checked ~ .testimonials label[for="t-1"] {
  transform: translateX(-180px) translateZ(-180px) translateY(-30px);
}
#t-3:checked ~ .testimonials label[for="t-2"] {
  transform: translateX(-90px) translateZ(-90px) translateY(-15px);
}
#t-3:checked ~ .testimonials label[for="t-3"] {
  z-index: 3;
}
.fimg img {
  width: 7rem;
}
@media only screen and (max-width: 500px) {
  .fcard {
    height: max-content;
    display: flex;
    margin: 2rem 0;
  }
  .ftxt {
    width: 50%;
    margin: 0 auto;
  }
  .features {
    width: 70vw;
    height: max-content;
    border: 1px black solid;
    border-radius: 2rem;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    margin: 2rem auto;
    display: block;
  }
  .fimg img {
    width: 7rem;
  }
  .material-symbols-outlined {
    display: contents;
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  }
  .card-content1 {
    display: block;
    padding: 0.5rem;
    text-align: center;
    width: 95%;
  }
  #topbar {
    padding: 1rem;
    position: absolute;
    width: 100vw;
    top: 0;
    background-color: white;
    color: #000000;
  }

  nav {
    display: flex;
    justify-content: space-between;
  }

  #left-menu {
    display: flex;
    align-items: center;
  }

  #mid-menu {
    display: none;
    align-items: center;
  }

  #right-menu {
    display: none;
  }

  #logo {
    margin: 1rem 30%;
    width: 120px;
  }

  .menu-item {
    margin: 0;
    margin-right: 44px;
    font-weight: 540;
    cursor: pointer;
    font-size: 18px;
  }
  .mycard {
    height: 100%;
    width: 100%;
    max-width: 24rem;
  }
  .cardtitle {
    font-weight: bold;
    --tw-text-opacity: 1;
    color: rgba(31, 41, 55, var(--tw-text-opacity));
    text-align: center;
  }
  .cardimg {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.75rem;
    margin-bottom: 2.75rem;
    max-height: 6rem;
    border-radius: 9999px;
  }
  .carddescription {
    --tw-text-opacity: 1;
    color: rgba(107, 114, 128, var(--tw-text-opacity));
    text-align: center;
  }

  body {
    margin: 0;
    color: #fff;
    align-items: center;
    min-height: 100vh;
    font-family: "Inka B";
  }
  .bg img {
    width: 90vw;
    margin: auto 5vw;
    z-index: -100;
    position: absolute;
    top: 6rem;
    border-radius: 2rem;
    height: 30vh;
  }
  .hone {
    margin-top: 8rem;
    text-align: center;
    font-size: 0.8rem;
    color: white;
  }
  .slidcont {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    display: block;
    justify-content: space-between;
    background-color: white;
    width: 80vw;
    margin: auto 10vw;
    border: 1px solid black;
    border-radius: 2rem;
  }
  .cont {
    color: #000;
  }
  .card-content {
    display: none;
    padding: 2rem;
    text-align: center;
    width: 40vw;
  }
  .card-content h1 {
    font-size: 3rem;
  }
  hr {
    width: 60%;
  }
  .disc {
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
  }
  .card-content1 button {
    font-family: "Inka B";
    color: white;
    background: black;
    border-radius: 2rem;
    width: 70%;
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  .slider {
    width: 100%;

    min-height: 385px;
  }
  .slider input {
    display: none;
  }
  .testimonials {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 375px;
    perspective: 500px;
    margin-top: 5rem;
    overflow: hidden;
  }
  .testimonials .item {
    max-width: 20rem;
    border-radius: 1.5rem;
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgba(30, 58, 138, var(--tw-border-opacity));
    top: 0;
    position: absolute;
    box-sizing: border-box;
    background-color: #fff;
    width: max-content;
    text-align: center;
    transition: transform 0.4s;
    -webkit-transform-style: preserve-3d;
    user-select: none;
    cursor: pointer;
  }
  .testimonials .item img {
    width: 150px;
    border: 1px black solid;
    padding: 0.2rem;
    border-radius: 0.2rem;
  }
  .testimonials .item p {
    color: #ddd;
  }
  .testimonials .item h2 {
    font-size: 14px;
  }
  .dots {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 3rem;
  }
  .dots label {
    display: block;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #000000;
    margin: 7px;
    transition: transform 0.2s, color 0.2s;
  }

  /* First */
  #t-1:checked ~ .dots label[for="t-1"] {
    transform: scale(2);
    background-color: #000;
    width: 1rem;
    height: 0.15rem;
    border-radius: 2rem;
  }
  #t-1:checked ~ .dots label[for="t-2"] {
    transform: scale(1.5);
  }
  #t-1:checked ~ .testimonials label[for="t-1"] {
    z-index: 4;
  }
  #t-1:checked ~ .testimonials label[for="t-2"] {
    transform: translateX(50px) translateZ(-90px) translateY(-15px);

    z-index: 3;
  }
  #t-1:checked ~ .testimonials label[for="t-3"] {
    transform: translateX(100px) translateZ(-180px) translateY(-30px);
    z-index: 2;
  }

  /* Second */
  #t-2:checked ~ .dots label[for="t-1"] {
    transform: scale(1.5);
  }
  #t-2:checked ~ .dots label[for="t-2"] {
    transform: scale(2);
    background-color: #000;
    width: 1rem;
    height: 0.15rem;
    border-radius: 2rem;
  }
  #t-2:checked ~ .dots label[for="t-3"] {
    transform: scale(1.5);
  }
  #t-2:checked ~ .testimonials label[for="t-1"] {
    transform: translateX(-50px) translateZ(-90px) translateY(-15px);
  }
  #t-2:checked ~ .testimonials label[for="t-2"] {
    z-index: 3;
  }
  #t-2:checked ~ .testimonials label[for="t-3"] {
    transform: translateX(50px) translateZ(-90px) translateY(-15px);
    z-index: 2;
  }

  /* Third */
  #t-3:checked ~ .dots label[for="t-2"] {
    transform: scale(1.5);
  }
  #t-3:checked ~ .dots label[for="t-3"] {
    transform: scale(2);
    background-color: #000;
    width: 1rem;
    height: 0.15rem;
    border-radius: 2rem;
  }
  #t-3:checked ~ .testimonials label[for="t-1"] {
    transform: translateX(-100px) translateZ(-180px) translateY(-30px);
  }
  #t-3:checked ~ .testimonials label[for="t-2"] {
    transform: translateX(-50px) translateZ(-90px) translateY(-15px);
  }
  #t-3:checked ~ .testimonials label[for="t-3"] {
    z-index: 3;
  }
}
